@font-face { font-family: cera; src: url('Fonts/cera-gr.otf'); } 
@font-face { font-family: rockstar; src: url('Fonts/Rockestar_Personal_Use.ttf'); } 
@font-face { font-family: myraid; src: url('Fonts/MYRIADPRO-REGULAR.OTF'); } 

*{
    padding: 0;
    margin: 0;
    font-family: cera;
    font-family: myraid;
    
}
div
{
    overflow: hidden;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.container-fluid
{
    padding: 0;
}

.row
{
    --bs-gutter-x:0rem;
}

.head
{
    height: 4.5vw;
    box-shadow: rgba(0,0,0,0.04) 0px 4px 10px;
    justify-content: flex-end;
    overflow: hidden;

}
.head .logo
{
    height: 3vw;
    position: absolute;
    width: 10vw;
    margin-top: 0.5vw;
    float: left;
    left: 0;
}

.head ul
{
    float: left;
    width: fit-content;
    display: flex;
    list-style: none;
    margin-top: 1.5vw;
    font-size: 1vw;

}
.head ul li a
{
    text-decoration: none;
    
    color: #8a898a;
    margin: 2vw 1.5vw 0 1.5vw;
}

.head ul a:hover
{
    color: #fa6753;
}
.head .search
{
    width: 15vw;
    height: 2.3vw;
    background: #ededed;
    border-radius: 5px;
    font-size: 20px;
    margin: 1vw 1vw 0 0;
}
.head .search button
{
    text-align: left;
    font-size: 1.2vw;
    width: fit-content;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 3px;
    color: #8a898a;

}
.head .search input
{
    width: 85%;
    color: #533f99;
    border: none;
    outline: none;
    background: transparent;

}
.head .btns
{
    width: fit-content;
    text-decoration: none;
    color: #8a898a;
    font-size: 1.6vw;
    margin: 1vw 0.5vw 0px 0.5vw;
}

.head .img
{
    width: fit-content;
    text-decoration: none;
    margin: 0.8vw 1vw 0 1vw;
}
.head .img img
{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    
}
.head .btn
{
    width: fit-content;
    background: #533f99;
    border: none;

    padding: 0vw 1.5vw 0vw 1.5vw;
    font-size: 1.3vw;
    border-radius: 0;
    opacity: 0.8;
}
.head .btn:hover
{
    opacity:1;
}

.b
{
    height: fit-content;
    padding: 0 4vw 0 4vw;
    text-align: -webkit-center;
    margin-top: 2vw;
}
.b .bc1
{
    width: 22.6666666667%;
    padding: 1.5vw;
    margin: 1vw 0 1vw 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px  0px  10px;
}
.b .bc1 img
{
    max-width: 50%;
    margin-top: 0.5vw;
    border-radius: 50%;
}
.b .bc1 h1
{
    font-size: 1.3vw;
    margin-top:1.5vw;
    color: #000;
    font-weight: bold;

}
.b .bc1 p
{
    font-size: 1.8vw;
    color:  #808080;
    margin-top: -0.4vw;
    margin-bottom:0.4vw;
    font-weight: bold;
}
.b .bc1 h2
{
    font-size: 1vw;
    color: #8a898a;
    line-height: 1.0vw;

}
.b .bc1 h3
{
    color:#fa6753;
    font-size: 0.8vw;
    margin-top: 1.0vw;
    font-weight: lighter;
}
.b .bc1 #follow-button
{
    background-color: #fa6753;
    font-size: 1.2vw;
    border-radius: 0%;
    border: 1px solid #fa6753;
    outline: none;
    margin-top: 1.5vw;
    text-transform: uppercase;
}

.b .bc1  h4
{
    text-align: left;
    margin-left: 0.6vw;
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1vw 0px 1vw 0.5vw;
}
.b .bc1 #btn
{
    background-color:#ededed;
    color: #808080;
    font-size: 1vw;
    border-radius: 5%;
    float: left;
    border: none;
    outline: none;
    margin:0.5vw 0.3vw 0px 0.3vw;
   
}
.b .bc2
{
    width: 77.3333333333%;
    text-align: left;
}

.b .bc2 .r1
{
    height: 20%;
    padding: 1vw 8vw 1vw 0;
    color: #8a898a;
}
.b .bc2 .r1 .col 
{
    height: 100%;
    width: fit-content;
    text-align: center;
    padding: 0 0.4vw 0 0;
}
.b .bc2 .r1 .col h1
{
    font-size: 1vw;
    text-transform: uppercase;
}
.b .bc2 .r1 .col p
{
    font-size: 2vw;
    line-height: 2.5vw;
}

.b .bc2 .r2
{
    height: fit-content + 3%;
    margin-top:1.5vw;
    padding: 0 3vw 0 3vw;
}
.b .bc2 .r2 .col 
{
    padding: 0.6vw;
    margin: 0.8vw;
    box-shadow: rgba(0,0,0,0.14) 0px 0px 0.8vw;
 
   
}

.b .bc2 .r2 .col .card
{
    height: 100%;
    background: rgba(83,62,153,0.5);
    cursor: pointer;
    border: none;
  
}
.b .bc2 .r2 .col .card img
{
    height: 100%;
    width: 100%;
    
    
}
.b .bc2 .r2 .col .card1
{
    height: 100%;
    
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;
    color: #fff;
    transition: all .6s;
    background: rgba(138,137,138,0.5);
}
.b .bc2 .r2 .col .card1 h1
{
    margin-top: 30%;
    opacity: 1;
    font-size: 2.5vw;
}
.b .bc2 .r2 .col .card1 p
{
    font-size: 0.8vw;
}
.b .bc2 .r2 .col .card:hover .card1
{
    background: rgba(50,38,91,0.6);
    
}
.c 
{
    height:fit-content;
    margin-top: 5vw;
    
}
.c .col h1
{
	color: #fa6753;
	font-size: 1.5vw;
	font-weight: bold;
	letter-spacing: 1.2vw;
	margin: 0;
	padding: 0 4vw 0 4vw;


}
.c .col .row
{
    
    height: fit-content;
    padding: 0 2vw 0 2vw;
}
.c .col .row .col
{
    margin:3vw;
    height: 16vw;
    
}
.c .col .row .col .card
{
    height: 100%;
    width: -webkit-fill-available;
    text-align: center;
    color: #fff;
    border: none;
    
}
.c .col .row .col .card img
{
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    
}
.c .col .row .col .card .card1
{
    height: 100%;
    
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;

}
.c .col .row .col .card .card1 h2
{
    font-size: 1vw;
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #fa6753;
    padding: 0.3vw 1.2vw 0.3vw 1.2vw;
    float: right;
    margin: 1vw;
    
}
.c .col .row .col .card .card1 .details
{
    width: 60%;
    height: -webkit-fill-available;
    text-align: left;
    padding: 1vw;
}
.c .col .row .col .card .card1 .details h3
{
    color: black;
    text-transform: uppercase;
    margin-top: 60%;
    font-size: 1.3vw;
    font-weight: bold;
}
.c .col .row .col .card .card1 .details h4
{
    font-size: 1vw;
    color: #8a898a;
}

.row8
{
    height: fit-content;
    margin-top: 7vw;
}

.row8 .row1 
{
	height: 6.0vw;
	box-shadow: none;
	align-content: center;

}
.row8 .row1 .col1 img
{
    height: 2.5vw;
    width: 8vw;
    margin-left: 1.5vw;
    margin-top: 1vw;
}
.row8 .row1 .col2 
{
    text-align: center;
    margin: 0;
}
.row8 .row1 .col2 img
{
	height: 3vw;
	width: 3vw;
	margin-top: 1vw;
	opacity: 0.6;
	transition: all .6s;
}
.row8 .row1 .col2 img:hover
{
	opacity: 1;
}

.row8 .row1 .col3 input
{
	width: 18vw;
    height: 3vw;
    font-size: 1.5vw;
	text-align:center;
	border:transparent;
	border-bottom: 0.1vw solid #7b7b7b;
	float: right;
	margin-right: 1.5vw;
    outline: none;
    color:#fa6753;
}
.row8 .row1 .col3 img
{
	height: 2.5vw;
	width: 2.5vw;
	float: right;
    margin-top: 0.8vw;
    margin-right: 0.5vw;
    border-radius: 0%;

}
.row8 .row2
{
	height: 6vw;
	align-content: center;
	margin-top: 1vw;
}
.row8 .row2 .col1 a
{
	text-decoration: none;
	text-transform: uppercase;
	color: #7b7b7b;
	margin-left: 1.5vw;
	font-size: 0.9vw;

}
.row8 .row2 .col1 a:hover
{
	color:#fd624d;
}
.row8 .row2 .col2
{
	text-align:center;
}
.row8 .row2 .col2 img
{
	height: 2vw;
	width: 2vw;
	margin-left: 0.5vw;

}
.row8 .row2 .col2 img:hover
{
	opacity: 0.8;
}
.row8 .row2 .col3 p
{
	color: #7b7b7b;
    text-align: right;
    font-size: 1vw;

}
@media screen and (max-width: 1467px){


}