@font-face { font-family: myraid; src: url('Fonts/MYRIADPRO-REGULAR.OTF'); } 
@font-face { font-family: cera; src: url('Fonts/cera-gr.otf'); } 
.row
{
    justify-content: center;
    margin-top: 50px;
    font-family: myraid;
}
.row form    
{
    height: fit-content;
    font-size: 16px;
    width: 600px;
    text-align: center;
    color: #000;
}
.row form h1
{
    margin-top: 5%;
    font-size: 4rem;
    text-align: center;
    color: #fa6753;
	letter-spacing: 20px;   
}
.row form h2
{
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
    color: #8a898a;
}
.row form h2 a
{
    text-decoration: none;
    color:  #533e99;
}
.row form input , textarea ,button
{
    border: none;
    outline: none;

}
.row form .name
{
    width: 45%;
    margin-top: 30px;
    border-bottom: 2px solid #808080;
    padding-bottom: 5px;
    outline: none;
    font-size: 18px;
    
}
.row form h6
{
    margin-top: 30px;
    float: left;
    color:  #533e99;
}

.row form .un
{
    width: 100%;
    border-bottom: 2px solid #808080;
    padding-bottom: 5px;
    outline: none;
    margin-top: -20px;
    font-size: 20px;
}
.row form textarea
{
    border: 2px solid #808080 ;
    width: 100%;
    height: 150px;
}
.row form #checkbox
{
    position: absolute;
    zoom:1.5;
    margin-top: 30px;
    background: #3d404e;
    border: #7f83a2 1px solid;
}
.row form label{
    margin-top: 40px;
    margin-left: 40px;
    text-align: left;
}
.row form button
{
    
    padding: 10px 60px 10px 60px;
    font-family: cera;
    border-radius: 0%;
    border: none;
    background-color:#533e99 ;
    font-size: 30px;
    margin-top: 40px;
    box-shadow: rgba( 0, 0, 0, 0.44) 0px 0px 20px;
}
.row form button:hover
{
    background-color:#533e99 ;
    opacity: 0.8;
}

.row form p
{
    color: #8a898a;
    font-size: 18px;
    margin-top: 20px;
}
.row form img{
    margin: 0px 15px 0px 15px;
}

.row form input:focus
{
    border-bottom: 2px solid #533e99 ;
}