
@font-face { font-family: cera; src: url('../Fonts/cera-gr.otf'); } 
@font-face { font-family: rockstar; src: url('../Fonts/Rockestar_Personal_Use.ttf'); }
@font-face { font-family: myraid; src: url('Fonts/MYRIADPRO-REGULAR.OTF'); } 

*
{
	margin: 0;
	padding: 0;
	font-family: cera;
}
.row
{
	    --bs-gutter-x: 0rem;
}
.container-fluid
{
    padding: 0;
}

/* Navigation bar with search box image and bell icons */

.head
{
    height: 4.5vw;
    box-shadow: rgba(0,0,0,0.04) 0px 0.4vw 1.5vw;
    margin-bottom: 2vw;
    justify-content: flex-end;
    overflow: hidden;

}
.head .logo
{
    height: 3vw;
    position: absolute;
    width: 10vw;
    margin-top: 0.5vw;
    float: left;
    left: 0;
}

.head ul
{
    float: left;
    width: fit-content;
    display: flex;
    list-style: none;
    margin-top: 1.5vw;
    font-size: 1vw;

}
.head ul li a
{
    text-decoration: none;
    
    color: #a4a4a4;
    margin: 2vw 1.5vw 0 1.5vw;
}

.head ul a:hover
{
    color: #fa6753;
}
.head .search
{
    width: 15vw;
    height: 2.3vw;
    background: #ededed;
    border-radius: 5px;
    font-size: 20px;
    margin: 1vw 1vw 0 0;
}
.head .search button
{
    text-align: left;
    font-size: 1.2vw;
    width: fit-content;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 3px;
    color: #a4a4a4;

}
.head .search input
{
    width: 85%;
    color: #533f99;
    border: none;
    outline: none;
    background: transparent;

}
.head .btns
{
    width: fit-content;
    text-decoration: none;
    color: #a4a4a4;
    font-size: 1.6vw;
    margin: 1vw 0.5vw 0px 0.5vw;
}

.head .img
{
    width: fit-content;
    text-decoration: none;
    margin: 0.8vw 1vw 0 1vw;
}
.head .img img
{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    
}
.head .btn
{
    width: fit-content;
    background: #533f99;
    border: none;
    outline: none;
    padding: 0vw 1.5vw 0vw 1.5vw;
    font-size: 1.3vw;
    border-radius: 0;
    opacity: 0.8;
}
.head .btn:hover
{
    background-color: #31235e;
    opacity: 0.7;
}

/* Simple Nav Bar*/
.nav1
{
	height: 4.5vw;
	overflow: hidden;
	text-transform:uppercase;

}


.nav1 .col1 img
{
	max-width: 60%;
	margin-top: 1.5vw;
	float: left;
	

}
.nav1 .col2
{
	
	text-align:center; 
}
.nav1 .col2 a
{
	margin-left: 1.5vw;
	text-decoration:none;
	color: 	#a4a4a4;
	font-size: 1vw;
	line-height: 4vw;
}
.nav1 .col2 a:hover
{
	color:#fa6753 ;
}
.nav1 .col3 .signin-btn
{
	border-radius: 0vw;
	border:none;
	font-size: 1vw;
	background-color: #533f99;
	padding: 1.5vw 3vw 1.5vw 3vw;
	float: right;
    box-shadow: none;
}
.nav1 .col3 .signin-btn:hover
{
	background-color: #31235e;
    opacity: 0.7;
}

/* Stipple Home  */



.stpple .row2
{
	height: fit-content;
	background-color: #fff;
	overflow: hidden;

}


.stpple .row2 .img1
{
	height:33vw;
	width: 21.8vw;
	float: right;
	margin-right: 14%;
	overflow: hidden;
}
.stpple .row2 .img2 
{
	height:33vw;
	width: 33vw;
	float: right;
	margin-right: 14%;
}
.stpple .row2 .img3
{
	height:33vw;
	width: 37.5vw;
	float: right;
	margin-right: 14%;
}

.stpple .row2 .col .slide .carousel-indicators
{
	height: 6.25vw;
	width: 3.1vw;
	display: block;
	left:auto;
	bottom:auto;
	top:35%;
	right:-12.5%;
	text-align: -webkit-center;
	
}

.stpple .row2 .col .slide li
{
	background-color: #533f99;
	text-align: center;
	height: 1vw;
	width: 1vw;
	margin-left: 0.6vw;
	border-radius: 50%;
	text-align:center;
	margin-top: -0.6vw;
}
.stpple .row2 .col .slide .carousel-indicators .active
{
	width: 1.8vw;
	height: 1.8vw;
	
	
}
.stpple .row2 .col .caption 
{
	height: 18.7vw;
	width:50.2vw;
	position: absolute;
	top: 20%;
	left: 3%;

}
.stpple .row2 .col .caption h2
{
	font-family: rockstar;
	color: #533f99;
	font-size: 3.4vw;
}
.stpple .row2 .col .caption p
{
	color: #a4a4a4;
	font-size: 1.7vw;
	margin-top: 3.7vw;
}
.stpple .row2 .col .caption button
{
	
	
	border-radius: 0px;
	background-color: #fa6753;
	color: #fff;
	font-size: 1.6vw;
    outline: none;
    border: none;
    box-shadow: none;
	height: 3.4vw;
	width:16.5vw;
	border: none;
}
.stpple .row2 .col .caption button:hover
{	
	opacity: 0.8;

}
.stpple .row2 .col .caption h5
{
	color: #fa6753;
	font-size: 1.8vw;
	margin-top: 7.5vw;
	margin-left: 25%;
	letter-spacing: 1vw;
}

.stpple .row2 .col .carousel-control-next
{
	height: 2.5vw;
	width: 2.6vw;
	align-content:center;
	position: absolute;
	top: 85%;
	right: 2.5%;

}
.stpple .row2 .col .carousel-control-next img
{
	height: 3vw;
	width: 3vw;
}
.stpple .row3 
{
	overflow: hidden;
	
	height: 6.2vw;

}

.stpple .row3 .col
{
	padding: 1.8vw 3.1vw 0 3.1vw;
	text-align:center;
}
.stpple .row3 .col a
{
	
	margin-left: 3vw;
}
.stpple .row3 .col img
{
	
	max-width: 100%;
	height: 1.5vw;
}

.stpple .row3 .col img:hover
{
	opacity: 0.8;
}

.stpple .row4
{	
	margin-top: 3.1vw;
	height: fit-content;
	overflow: hidden;
}

.stpple .row4 .col h1
{
	color: #fa6753;
	font-size: 3.1vw;
	font-weight: bold;
	margin-left: 4%;
	letter-spacing: 1.1vw;

}
.stpple .row4 .col p
{
	color: #a4a4a4;
	font-size: 1.7vw;
	margin-top: 0.6vw;
	margin-left: 4%;
	padding-bottom: 3.1vw;

}

.stpple .row4 .col .inrow
{
	height: fit-content;
}
.stpple .row4 .col .inrow .col1
{
	height: 15.6vw;
    margin: 0.15vw;
	cursor: pointer;
    overflow: hidden;
}
.stpple .row4 .col .inrow .col1 .card
{
    height: 100%;
    
    cursor: pointer;
    border: none;
  
}
.stpple .row4 .col .inrow .col1 .card .bc-img
{
    height: 100%;
    width: 100%;
    
    
}
.stpple .row4 .col .inrow .col1 .card1
{
    height: 100%;
    opacity:0;
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;
    color: #fff;
    transition: all .6s;
    background: rgba(83,62,153,0.5);
}
.stpple .row4 .col .inrow .col1 .card1 .h1
{
    font-size: 1.3vw;
	line-height: 13.7vw;
	font-weight:normal;
	letter-spacing: normal;
	color: #fff;
	padding: 0;
	margin: 0;
}
.stpple .row4 .col .inrow .col1 .card1 .p
{
    font-size: 1.1vw;
	font-weight:normal;
	letter-spacing: normal;
	color: #fa6753;
	margin-top: -6.2vw;
}
.stpple .row4 .col .inrow .col1 .card:hover .card1
{
    opacity: 1;
    
}
.stpple .row5
{
	height: fit-content;
	margin-top: 9.3vw;
	padding: 0 3.7vw 0 3.7vw;
	overflow: hidden;
}

.stpple .row5 .h1
{
	color: #fa6753;
	font-size: 2.5vw;
	font-weight: bold;
	letter-spacing: 1.1vw;
	margin: 0;
	padding: 0;


}
.stpple .row5 .p
{
	color: #a4a4a4;
	font-size: 1.7vw;
	margin: 0;
	padding: 0;

}
.stpple .row5 .carousel
{
	height:23.4vw;
	transition: 0s;
	overflow: hidden;
	margin-top: 1.9vw;
}
.stpple .row5 .carousel-item
{
	transition:0.3s;
}


.stpple .row5 .card-deck
{

	align-content: center;
	overflow: hidden;
	height: 100%;


	

}

.stpple .row5 .card 
{
	
	overflow: hidden;
	border-radius: 0px;
	align-content: center;
	border: none;
	padding: 0.5vw;
	width: 100%;


}
.stpple .row5 .card img
{
   
    
	border: 0.6vw solid white;
    cursor: pointer;
    transition: 1s;
    padding: 0.3vw;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 0.2vw 0.25vw;

}
.stpple .row5 .card .btnon
{
	height: 80%;
    width: 95%;
    --bs-gutter-x: 0rem;
    position: absolute;
    background: transparent;
    text-align: center;
    visibility:hidden;


}

.stpple .row5 .card .btnon .btn
{
	
	border-radius: 0px;
	margin-top: 35%;
	padding: 0.5vw 1.8vw 0.5vw 1.8vw;
	align-content: center;
	text-align: center;
	background-color: #533f99;
	border: none;
	font-size: 1.1vw;
}
.stpple .row5 .card:hover img
{
	opacity: 0.8;
	box-shadow: rgba(0, 0, 0, 0.54) 0px 0px 0.6vw;

}

.stpple .row5 .card:hover .btnon
{
	transition:all 1s;
	visibility: visible;

}
.stpple .row5 .card:hover .btn
{
	transition:all 1s;
	box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 10px;
    background-color: #31235e;

}
.stpple .row5 .card .row
{
	
	height: 2.5vw;
	overflow: hidden;
	margin: 0.8vw 0.5vw 0vw 0.8vw;



}
.stpple .row5 .card .row .col
{

	height: 100%;

}
.stpple .row5 .card .row .col i
{
	float: left;
	
	margin-top: 0.8vw;
}
.stpple .row5 .card .row .col p
{
	font-size: 0.8vw;
	font-weight: bold;
	color:#666666;
	line-height:2vw;


}

.stpple .row5 .row2
{
	height: 4.3vw;

	

	
	overflow: hidden;
	
}
.stpple .row5 .row2 .col1
{
		text-align:center;

}
.stpple .row5 .row2 .col1 .btn1
{
	width:15vw;
	height: 3.1vw;
	font-size: 1.3vw;
	margin-left:22%;
    box-shadow: none;
    border: none;
	border-radius: 0px;
	background-color: #533f99;
	border: hidden;

}
.stpple .row5 .row2 .col1 .btn1:hover
{
    background-color: #31235e;
    opacity: 0.7;
}

.stpple .row5 .row2 .col2
{
	height: 100%;
	overflow: hidden;
	text-align:right;

}
.stpple .row5 .row2 .col2 .carousel-control-prev,.carousel-control-next
{
	position:initial;
	display: inline-flex;
	margin: 0 1vw 0 1vw;
	


}





.stpple .row6
{
	height: fit-content;
	margin-top:6vw;
	padding: 0px 3.7vw 0px 3.7vw;
	overflow: hidden;

	

}

.stpple .row6 .row1
{
	height: 7.5vw;
	margin-bottom:0.6vw;
	padding: 0;
	overflow: hidden;
	--bs-gutter-x:0; 
     --bs-gutter-y: 0;

}




.stpple .row6 .row1 .col1 h1
{
	color: #fa6753;
	font-size: 2.8vw;
	font-weight: bold;
	letter-spacing: 1.1vw;

}
.stpple .row6 .row1 .col1 p
{
	color: #a4a4a4;
	font-size: 1.5vw;
	margin-top: 0.6vw;
	padding-bottom: 1.2vw;
	text-transform:none;

}

.stpple .row6 .row1 .col2
{
	height: 100%;
	overflow: hidden;
	text-align:right;
	
}




.stpple .row6 .row1 .col2 .carousel-control-prev
{
	position: relative;
	display: inline-flex;
	margin-right: 1vw;
}



.stpple .row6 .carousel
{
	height: 100%;
	margin-top: 0.6vw;

}
.stpple .row6 .carousel-item
{
	transition: 0.3s;
	height: 100%;
}
.stpple .row6 .carousel .row
{
	height: 100%;
	padding: 0px 0.6vw 0px 0.6vw;

}
.stpple .row6 .carousel .row .col
{
	text-align: center;
	border: transparent;
	padding:1vw;
}
.stpple .row6 .carousel .row .col img
{
	height: 100%;
	width: 100%;
	border-radius: 0.6vw;
	cursor: pointer;
	transition:1s;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 0.5vw;
}
.stpple .row6 .carousel .row .col img:hover
{
	box-shadow: rgba( 0, 0, 0, 0.44) 0px 0px 1.2vw;
}

.stpple .row7
{
	height: fit-content;
	margin-top:7vw;

}

.stpple .row7 .col .row1
{
	height: 7vw;

}
.stpple .row7 .col .row1 .col1
{
	padding: 0px 3.7vw 0px 3.7vw;
}
.stpple .row7 .col .row1 .col1 h1
{
	color: #fa6753;
	float: left;
	font-size: 2.8vw;
	font-weight: bold;
	letter-spacing: 1.1vw;

}
.stpple .row7 .col .row1 .col1 p
{
	color: #a4a4a4;
	font-size: 1.2vw;
	margin-top: 0.6vw;
	padding-bottom: 1.2vw;
	text-transform:none;

}


.stpple .row7 .col .row2 
{
	height: 21.2vw;
	border:0px;
	justify-content: center;
}

.stpple .row7 .col .row2 img
{
	max-width: 20%;
	cursor: pointer;
	filter: grayscale(100%);
	
}
.stpple .row7 .row2 img:hover
{
	
	border: 0.7vw solid #533f99;

	filter:none;

}



/*//AboutUs*/

.aboutus .r2
{
    height:fit-content;
    padding: 0 8vw 0 8vw;
    align-items: center;
}

.aboutus .r2 .c1 h1
{
	color: #fa6753;
	font-size: 1.5vw;
	font-weight: bold;
	margin-left: 4%;
	letter-spacing: 1vw;

}
.aboutus .r2 .c1 p
{
	color: #333333;
	font-size: 1vw;
	margin-top: 1vw;
	margin-left: 4%;
    padding-bottom: 3vw;
    width: 90%;

}
.aboutus .r2 .c2 img{
    width: 90%;
    float: right;
  
}
.aboutus .r3
 {
     display: block;
     height: 7vw;
     text-align: center;
 }

.aboutus .r3 a
 {
     margin: 0vw 2vw 0 2vw;
     
 }
.aboutus .r3 a img
 {
     height: 1.2vw;
     margin-top: 2.5vw;
     margin-bottom: 2.5vw;
     max-width: 100%;
 }
.aboutus .r4
 {
     margin-top: 4vw;
     padding: 0 13vw 0 13vw;
     text-align: -webkit-center;
 }

.aboutus .r4 .r1
 {
    text-align: center;
    box-shadow: none;
 }
.aboutus .r4 .r1 h1
{
	color: #fa6753;
	font-size: 1.5vw;
	font-weight: bold;
	letter-spacing: 1vw;

}
.aboutus .r4 .col{
    height:100%;
}
.aboutus .r4 .col img
{
    
    max-width: 80%;
    margin-top: 3vw;
    border-radius: 50%;
    filter: grayscale(100%);
}
.aboutus .r4 .col h1
{
    font-size: 1.5vw;
    margin-top: 2vw;
    color: #533f99;
    font-weight: bold;
}
.aboutus .r4 .col p
{
    font-size: 1vw;
}


.aboutus .r5
{
    height: fit-content;
    margin-top: 4vw;
    background-color: #f2f2f2;
}
.aboutus .r5 .c1
{
    background-image: url(Images/dots.png);
    background-size:cover;
    background-position: center;
}
.aboutus .r5 .c1 img
{
    max-width: 100%;
}
.aboutus .r5 .c2
{
    text-align: center;
    padding-bottom:4vw;
}
.aboutus .r5 .c2 h1
{
    margin-top: 10%;
    color: #fa6753;
	font-size: 1.5vw;
	font-weight: bold;
	letter-spacing: 0.8vw;

}
.aboutus .r5 .c2 p
{
    font-size: 1.2vw;
    margin-top: 8%;
}
.aboutus .r5 .c2 img
{
    margin-top: 8%;
    max-width: 40%;
}
.aboutus .r5 .c3 img
{
    margin-top: 30%;
    height: 50%;
    width: 55%;
}
.aboutus .r6
{
    justify-content: center;
    margin-top: 4vw;
}
.aboutus .r6 form    
{
    height: fit-content;
    font-size: 1vw;
    width: 30vw;
    text-align: center;
    color: #533f99;
}
.aboutus .r6 form h1
{
    margin-top: 5%;
    text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
	letter-spacing: 1vw;   
}
.aboutus .r6 form input , textarea ,button
{
    border: none;
    outline: none;

}
.aboutus .r6 form .name
{
    width: 45%;
    margin-top: 2vw;
    border-bottom: 0.15vw solid #a4a4a4;
    padding-bottom: 0.8vw;
    outline: none;
    font-size: 1vw;
    
}
.aboutus .r6 form h6
{
    margin-top: 2vw;
    float: left;
    font-size: 1vw;
}

.aboutus .r6 form .un
{
    width: 100%;
    border-bottom: 0.15vw solid #a4a4a4;
    padding-bottom: 0.5vw;
    outline: none;
    margin-top: -2vw;
    font-size: 1.2vw;
}
.aboutus .r6 form textarea
{
    border: 0.15vw solid #a4a4a4 ;
    width: 100%;
    height: 10vw;
}
.aboutus .r6 form .send-btn
{
    
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 0%;
    border: none;
    outline: none;
    background-color:#533f99 ;
    font-size: 1.2vw;
    margin-top: 2vw;
    box-shadow: rgba( 0, 0, 0, 0.44) 0px 0px 1vw;
}
.aboutus .r6 form button:hover
{
    background-color:#533f99 ;
    opacity: 0.8;
}

/*//Profile*/

.profile .b
{
    height: fit-content;
    padding: 0 4vw 0 4vw;
    text-align: -webkit-center;
    margin-top: 2vw;
}
.profile .b .bc1
{
    width: 22.6666666667%;
    padding: 1.5vw;
    margin: 1vw 0 1vw 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px  0px  10px;
}
.profile .b .bc1 img
{
    max-width: 50%;
    margin-top: 0.5vw;
    border-radius: 50%;
}
.profile .b .bc1 h1
{
    font-size: 1.3vw;
    margin-top:1.5vw;
    color: #000;
    font-weight: bold;

}
.profile .b .bc1 p
{
    font-size: 1.8vw;
    color:  #a4a4a4;
    margin-top: -0.4vw;
    margin-bottom:0.4vw;
    font-weight: bold;
}
.profile .b .bc1 h2
{
    font-size: 1vw;
    color: #a4a4a4;
    line-height: 1.0vw;

}
.profile .b .bc1 h3
{
    color:#fa6753;
    font-size: 0.8vw;
    margin-top: 1.0vw;
    font-weight: lighter;
}
.profile .b .bc1 #follow-button
{
    background-color: #fa6753;
    font-size: 1.2vw;
    border-radius: 0%;
    border: 1px solid #fa6753;
    outline: none;
    box-shadow: none;
    margin-top: 1.5vw;
    text-transform: uppercase;
}

.profile .b .bc1  h4
{
    text-align: left;
    margin-left: 0.6vw;
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1vw 0px 1vw 0.5vw;
}
.profile .b .bc1 #btn
{
    background-color:#ededed;
    color: #a4a4a4;
    font-size: 1vw;
    border-radius: 5%;
    float: left;
    border: none;
    outline: none;
    box-shadow: none;
    margin:0.5vw 0.3vw 0px 0.3vw;
   
}
.profile .b .bc2
{
    width: 77.3333333333%;
    height: fit-content;
    text-align: left;
}

.profile .b .bc2 .r1
{
    height: 20%;
    padding: 1vw 8vw 1vw 0;
    color: #a4a4a4;
}
.profile .b .bc2 .r1 .col 
{
    height: 100%;
    width: fit-content;
    text-align: center;
    padding: 0 0.4vw 0 0;
}
.profile .b .bc2 .r1 .col h1
{
    font-size: 1vw;
    text-transform: uppercase;
}
.profile .b .bc2 .r1 .col p
{
    font-size: 2vw;
    line-height: 2.5vw;
}

.profile .b .bc2 .r2
{
    height: fit-content + 3%;
    margin-top:1.5vw;
    padding: 0 3vw 0 3vw;
}
.profile .b .bc2 .r2 .col 
{
    padding: 0.6vw;
    margin: 0.8vw;
    box-shadow: rgba(0,0,0,0.14) 0px 0px 0.8vw;
 
   
}

.profile .b .bc2 .r2 .col .card
{
    height: 100%;
    background: rgba(83,62,153,0.5);
    cursor: pointer;
    border: none;
  
}
.profile .b .bc2 .r2 .col .card img
{
    height: 100%;
    width: 100%;
    
    
}
.profile .b .bc2 .r2 .col .card1
{
    height: 100%;
    
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;
    color: #fff;
    transition: all .6s;
    background: rgba(138,137,138,0.5);
}
.profile .b .bc2 .r2 .col .card1 h1
{
    margin-top: 30%;
    opacity: 1;
    font-size: 2.5vw;
}
.profile .b .bc2 .r2 .col .card1 p
{
    font-size: 0.8vw;
}
.profile .b .bc2 .r2 .col .card:hover .card1
{
    background: rgba(50,38,91,0.6);
    
}
.profile .b .bc2 .r3
{
    height: fit-content;
    text-align: center;
    padding: 0 3vw 0 3vw;
}
.profile .b .bc2 .r3 .r31
{
    height: fit-content;
    padding: 0 1vw 0 1vw;
    align-items: center;
    color: #533f99;
    
}
.profile .b .bc2 .r3 .r31 .col-8 h1
{
    color:#533f99;
    text-transform: uppercase;
    font-size: 1.5vw;
    letter-spacing: 0.6vw;
}
.profile .b .bc2 .r3 .r31 .col-2
{
    height: 4vw;
    
}
.profile .b .bc2 .r3 .r31 .col-2 a
{
    padding: 0;
    text-decoration: none;
    color: #a4a4a4;
    
}
.profile .b .bc2 .r3 .r31 .col-2 a h2
{
    font-size: 1vw;
    letter-spacing: 0.2vw;
    margin: 0;
    margin-top: 0.8vw;
    text-transform: uppercase;

}
.profile .b .bc2 .r3 .r31 .col-2 h2:hover
{
   
    color: #533f99;
}
.profile .b .bc2 .r3 .r31 .col-2 img:hover
{
    background-color:#533f99 ;
   
}
.profile .b .bc2 .r3 .r32
{
    height: fit-content;
    
}
.profile .b .bc2 .r3 .r32 .s1
{
    height: fit-content;
}
.profile .b .bc2 .r3 .r32 .s1 .carousel-item
{
    height: fit-content;
}
.profile .b .bc2 .r3 .r32 .col
{
    height: 100%;
    
    margin: 0.8vw;
    
    
}
.profile .b .bc2 .r32 .col img
{
    height: 100%;
    padding: 0.6vw;
    width: 100%;
    box-shadow: rgba(0,0,0,0.14) 0px 0px 0.8vw;
    
}
.profile .b .bc2 .r3 .r32 .col .items
{
    margin-top: 0.5vw;
    padding: 0 1.5vw 0 0vw;
}
.profile .b .bc2 .r3 .r32 .col .items .col
{
    height: 2vw;
    padding: 0;
    margin: 0;

}

.profile .b .bc2 .r3 .r32 .col .items .col p
{
	font-size: 0.8vw;
	font-weight: bold;
	color:#666666;
	line-height:2vw;


}

.profile .c 
{
    height:fit-content;
    margin-top: 5vw;
    
}
.profile .c .col h1
{
	color: #fa6753;
	font-size: 1.5vw;
	font-weight: bold;
	letter-spacing: 1.2vw;
	margin: 0;
	padding: 0 4vw 0 4vw;


}
.profile .c .col .row
{
    
    height: fit-content;
    padding: 0 2vw 0 2vw;
}
.profile .c .col .row .col
{
    margin:3vw;
    height: 16vw;
    
}
.profile .c .col .row .col .card
{
    height: 100%;
    width: -webkit-fill-available;
    text-align: center;
    color: #fff;
    border: none;
    
}
.profile .c .col .row .col .card img
{
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    
}
.profile .c .col .row .col .card .card1
{
    height: 100%;
    
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;

}
.profile .c .col .row .col .card .card1 h2
{
    font-size: 1vw;
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #fa6753;
    padding: 0.3vw 1.2vw 0.3vw 1.2vw;
    float: right;
    margin: 1vw;
    
}
.profile .c .col .row .col .card .card1 .details
{
    width: 60%;
    height: -webkit-fill-available;
    text-align: left;
    padding: 1vw;
}
.profile .c .col .row .col .card .card1 .details h3
{
    color: black;
    text-transform: uppercase;
    margin-top: 60%;
    font-size: 1.2vw;
    font-weight: bold;
}
.profile .c .col .row .col .card .card1 .details h4
{
    font-size: 1vw;
    color: #a4a4a4;
}

/*//Signin*/

.signin
{
    justify-content: center;
    margin-top: 3.1vw;
    font-family: myraid;

}

.signin .form .error-msg
{
	color:red;
}

.signin .form 
{
	height: fit-content;
    font-size: 1vw;
    width: 40%;
    color: #000;
}

.signin .form input
{	
	border:none;
}

.signin .heading
{
	height: fit-content;
}
.signin .form .heading h1
{
    margin-top: 5%;
    font-size: 4vw;
    text-align: center;
    color: #fa6753;
	letter-spacing: 1.25vw;   
}
.signin .form .heading h2
{
    margin-top: 2%;
    font-size: 1.25vw;
    text-align: center;
    color: #a4a4a4;
}
.signin .form .heading h2 a
{
    text-decoration: none;
    color:  #533f99;
}

.signin .email
{
	height: fit-content;

}

.signin .form .email h6
{
    float: left;
    margin-top: 3vw;
    font-size: 0.9vw;
    color:  #533f99;
}

.signin .form .email .un
{
    width: 100%;
    border-bottom: 0.12vw solid #a4a4a4;
    padding-bottom: 0.3vw;
    outline: none;
    font-size: 1.25vw;
}

.signin .form .email a
{
    text-decoration: none;
    color:#533f99;
    float: right;
    font-size: 0.2vw;
}
.signin .form .input-error
{
    color:red;
    Padding-left:0.1vw;
    text-align: left;
}
.signin .form .is-invalid
{
    border-bottom: 0.12vw solid red !important;
}
.signin .submit
{
	height: fit-content;
	text-align: center;
    margin-top: 2vw;
}
.signin .form .submit .signin-btn
{
    
    padding: 0.6vw 3.7vw 0.6vw 3.7vw;
    font-family: cera;
    border-radius: 0%;
    border: none;
    background-color:#533f99 ;
    font-size: 1.8vw;
    box-shadow: rgba( 0, 0, 0, 0.44) 0px 0px 1.2vw;
}
.signin form .signin-btn:hover
{
    background-color:#533f99 ;
    opacity: 0.8;
}
.signin .links
{
	height: fit-content;
	text-align: center;
}

.signin .form .links p
{
    color: #a4a4a4;
    font-size: 1.12vw;
    margin-top: 1vw;
}
.signin .form .links img{
    height: 2vw;
    width: 2vw;
    margin: 0px 0.8vw 0px 0.8vw;
}

.signin .form .email input:focus
{
    border-bottom: 0.12vw solid #533f99 ;
}
.signin .form .email .is-invalid:focus
{
    border-bottom: 0.12vw solid red;
}
/*//Signup*/

.signup
{
    justify-content: center;
    margin-top: 3.1vw;
    font-family: myraid;

}

.signup .form .Error-msg
{
	color:red;
}
.signup .form .not-checked:active:focus
{
    color:red;
}
.signup .form 
{
	height: fit-content;
    font-size: 1vw;
    width: 40%;
    color: #000;
}

/* .signup .form input
{	
	border:none;
} */

.signup .heading
{
	height: fit-content;
}
.signup .form .heading h1
{
    margin-top: 3%;
    font-size: 4vw;
    text-align: center;
    color: #fa6753;
	letter-spacing: 1.25vw;   
}
.signup .form .heading h2
{
    margin-top: 2%;
    font-size: 1.25vw;
    text-align: center;
    color: #a4a4a4;
}
.signup .form .heading h2 a
{
    text-decoration: none;
    color:  #533f99;
}
.signup .form .un
{
    border: none;
    border-bottom: 0.12vw solid #a4a4a4;
    padding-bottom: 0.5vw;
    outline: none;
    font-size: 1.25vw;
    width: 18vw;
  
    
}
.signup .form .un:focus
{
    border-bottom: 0.12vw solid #533f99 ;
}
.signup .fullname 
{
	height: fit-content;
}


.signup .email
{
	height: fit-content;
}

.signup .form .email h6
{
    float: left;
    font-size: 0.9vw;
    color:  #533f99;
}

.signup .form .email .un
{
    width: 100% !important;
}

.signup .password
{
	height: fit-content;
}

.signup .dob
{
	height: fit-content;
}



.signup .checkbox
{
	height: fit-content;
}

.signup .form .checkbox input
{
    
    transform: scale(1.5);
    float: left;
    margin-top: 1vw;
    margin-right: 1vw;
}
.signup .form .checkbox .label
{
    margin-top: -1.5vw;
}

.signup .form .input-error
{
    color:red;
    Padding-left:0.1vw;
    text-align: left;
}

.signup .form .is-invalid
{
    border-bottom: 0.12vw solid red !important;
}
.signup .submit
{
	height: fit-content;
	text-align: center;
}
.signup .form .submit .signup-btn
{
    color: white;
    padding: 0.6vw 3.7vw 0.6vw 3.7vw;
    font-family: cera;
    border-radius: 0%;
    border: none;
    outline: none;
    margin-top: 2.5vw;
    background-color:#533f99 ;
    font-size: 1.8vw;
    box-shadow: rgba( 0, 0, 0, 0.44) 0px 0px 1.2vw;
}
.signup form .text-center .signup-btn:hover
{
    background-color:#533f99 ;
    opacity: 0.8;
}
.signup .links
{
	height: fit-content;
	text-align: center;
}

.signup .form .links p
{
    color: #a4a4a4;
    font-size: 1.12vw;
    margin-top: 1vw;
}
.signup .form .links img{
    height: 2vw;
    width: 2vw;
    margin: 0px 0.8vw 0px 0.8vw;
}



/* Footer */


.footer
{
    height: fit-content;
    margin-top: 7vw;
}

.footer .row1 
{
	height: 5.0vw;
	box-shadow: none;
	align-content: center;

}
.footer .row1 .col1 img
{
    height: 2.5vw;
    width: 8vw;
    margin-left: 1.5vw;
    margin-top: 1vw;
    float: left;
}
.footer .row1 .col2 
{
    text-align: center;
    margin: 0;
}
.footer .row1 .col2 img
{
	height: 3vw;
	width: 3vw;
	margin-top: 1vw;
	opacity: 0.6;
	transition: all .6s;
}
.footer .row1 .col2 img:hover
{
	opacity: 1;
}

.footer .row1 .col3 input
{
	width: 14vw;
    height: 3vw;
    font-size: 1vw;
	text-align:center;
	border:transparent;
	border-bottom: 0.1vw solid #a4a4a4;
	float: right;
	margin-right: 1.5vw;
    outline: none;
    color:#fa6753;
}
.footer .row1 .col3 img
{
	height: 2.5vw;
	width: 2.5vw;
	float: right;
    margin-top: 0.8vw;
    margin-right: 0.5vw;
    border-radius: 0%;

}
.footer .row2
{
	height: 6vw;
	align-content: center;
	margin-top: 1vw;
}
.footer .row2 .col1
{
    text-align: left;
}
.footer .row2 .col1 a
{
	text-decoration: none;
	text-transform: uppercase;
	color: #a4a4a4;
	margin-left: 1.5vw;
	font-size: 0.9vw;

}
.footer .row2 .col1 a:hover
{
	color:#fd624d;
}
.footer .row2 .col2
{
	text-align:center;
}
.footer .row2 .col2 img
{
	height: 2vw;
	width: 2vw;
	margin-left: 0.5vw;

}
.footer .row2 .col2 img:hover
{
	opacity: 0.8;
}
.footer .row2 .col3 p
{
	color: #a4a4a4;
    text-align: right;
    font-size: 1vw;

}

/******************* TALLAL JAMSHED STYLING *******************/
/* .checkbox{
    display: inline !important;
} */
/* .input-error{
    color:red;
} */
/* .is-invalid{
    border-bottom: 0.12vw solid red !important;
} */
/* .un{
    border: none;
    border-bottom: 0.14vw solid #a4a4a4;
    padding-bottom: 0.5vw;
    outline: none;
    font-size: 1.25vw;
    width: 18vw;
} */

/* .email{
    width: 100% !important;
} */

/* .signup-btn
{
    color: white;
    padding: 0.6vw 3.7vw 0.6vw 3.7vw;
    font-family: cera;
    border-radius: 0%;
    border: none;
    margin-top: 2.5vw;
    background-color:#533f99 ;
    font-size: 1.8vw;
    box-shadow: rgba( 0, 0, 0, 0.44) 0px 0px 1.2vw;
}
.signup-btn:hover
{
    background-color:#533f99 ;
    opacity: 0.8;
} */